src/main/mule/git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="996e5c20-150c-4d77-95a8-72550dd6ff42" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitFlow" doc:id="690b8d6b-48ce-45d4-ac44-f5f8d679f6b8" >
		<http:listener doc:name="Listener" doc:id="c19c0257-d230-460f-9e2f-71fc28b388cc" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="a706438e-4cbf-4774-a657-efe4bb57ca94" message="request recived"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8de1ff23-5eab-4e69-b558-db25f8ab0b84" />
	</flow>
</mule>
